@font-face {
    font-family: 'Gilroy';
    src: url('./gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('./gilroy/Gilroy-Regular.woff') format('woff'),
        url('./gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('./gilroy/Gilroy-Bold.woff') format('woff'),
        url('./gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy',
        Arial,
        sans-serif;
    color: #fff;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    width: 100% ;
    height: 12vh;
    padding: 2vw 10.5vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
    
}

nav h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding-right: 8vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1.2vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

/* nav:hover #nav-bottom{
    height: 150%;
    bottom: -150%;
    background-color: #111;
} */

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
}



nav button{
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 12px 22px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 50px ;
    border: None;
}

nav button svg{
    height: 1rem;

}

#page1 {
    height: 100vh;
    max-width: none;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;

}

#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0BA34E;
    border-radius: 60%;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

#page1-something h4{
    font-weight: 400;
    font-size: 1rem;
    /* text-transform: lowercase; */
    padding: 3px 6px;
    border: 1px solid #0BA34E;
    border-radius: 50px;
    background-color: #0ba34d1b ;
    color: #08d260;
    white-space: nowrap;
}

.para-page1{
    padding: 5px;
    display: flex;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .nav-part2 {
        display: None;
    }
}


#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}


/* .bottom-div{
    margin-top: 2vw;
}*/
/* .bottom-div h5{*/
    /* background-color: red; */
   /* overflow: hidden;
    margin-bottom: 0.4vw;

} */
/*.bottom-div h5 span{
    font-weight: 500;
    display: None;
    font-size: 0.75vw;
    white-space: nowrap;
    opacity: ;

} */